form {
  background: $color-light;
  padding: 2em 1em 1em;
  width: 100%;
}

label {
  display: block;
  width: 100%;
  padding-left: 3em;
  position: relative;

  &:before {
    color: $color-lightest;
    font-size: 2.5em;
    position: absolute;
    left: 0;
  }
}

input[type=text] {
  background: transparent;
  border: 0;
  border-bottom: 1px solid $color-lightest;
  border-radius: 0;
  color: $color-darkest;
  padding: 0.5em 0;
  position: relative;
  width: 100%;

  &:focus {
    outline: none;
  }

  @include placeholder {
    color: $color-lightest;
  }
}
