.home {
  @extend %flexbox;
  background: $color-darkest;
  color: $color-lighter;
  min-height: 100%;
  padding-bottom: 6em;
  text-align: center;

  h2 {
    @extend .fjalla;
    color: $color-light;
  }

  .mixedtape,
  .television {
    display: inline-block;
    cursor: pointer;
    width: 49%;
    padding: 0 2%;
  }

  .bad-browser {
    color: $color-red;
    font-size: 128px;
    width: 128px;
    height: 128px;
  }

  .home-connect {
    width: auto;
    padding: 0;

    &:before {
      background: $color-red;
      border-radius: 50%;
      color: $color-darkest;
      font-size: 128px;
      width: 128px;
      height: 128px;
    }
  }

  .active-host {
    color: $color-dark;
  }
}
