.modal {
  position: fixed;
  pointer-events: none;
  visibility: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;

  &.open {
    pointer-events: inherit;
    visibility: visible;

    .overlay {
      opacity: 0.95;
      visibility: visible;
    }

    .content {
      @include transform(translateY(0));
      visibility: visible;
    }
  }

  h3 {
    @include ellipsis;
    color: $color-darkest;
    margin-bottom: 1em;
    padding-left: 1em;
  }

  .overlay {
    @include transition-delay(0);
  }

  .content {
    @include transition(all 0.2s ease);
    @include transform(translateY(120%));
    bottom: 0;
    position: absolute;
    visibility: hidden;
    width: 100%;
  }

  .modal-menu {
    @extend %list-none;
    background: $color-darkest;

    li {
      &:first-child {
        border-top: 0;
      }
    }
  }

  .menu-item {
    @include ellipsis;
    color: $color-lighter;
    cursor: pointer;
    font-size: 100%;
    display: block;
    margin: 0;
    padding: 4px 0;

    &:before {
      color: $color-lighter;
      background: none;
    }

    &.cancel {
      @include appearance(none);
      background-color: $color-darkest;
      border: none;
      border-top: 1px solid $color-darker;
      width: 100%;
      text-align: left;
    }
  }
}
