@import url('http://fonts.googleapis.com/css?family=Noto+Sans|Fjalla+One');

h1, h2, h3, h4, h5, h6, p {
  font-weight: 400;
  margin-top: 0;
}

h2 {
  font-size: 220%;
}

h3 {
  font-size: 125%;
}

h4 {
  font-size: 100%;
}

h5 {
  font-size: 75%;
}

h6 {
  font-size: 60%;
}

.fjalla {
  font-family: 'Fjalla One', sans-serif;
  font-weight: 400;
}
